body{
  margin: 0;
}


.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 36px;
  font-weight: bold;
}
.dark-mode{
  background-color: #202020;
}
.dark-mode h1{
  color: white;
}
.note{
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}
.note-footer{
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.container{
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}
.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.note-new{
  background-color: #67d7cc;
  border-radius: 10px;
  position: absolute;
  left: 30%;
  top: 15%;
  width: 550px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  padding: 10px;
}

textarea, input{
  border: none;
  resize: none;
  background-color: transparent;
  font-size: 25px;
}

::placeholder {
  opacity: 1;
}

textarea:focus{
  outline: none;
}
input:focus{
  outline: none;
}
::placeholder{
  font-style: italic;
  color: #0d6259;
}

.add{
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
.add:hover{
  background-color: #ededed;
  cursor: pointer;
}
.delete-icon{
  cursor: pointer;
}
.delete-icon:hover{
  fill: red; 
}
.cross{
  background-color: #ededed;
  width: 16px;
  height: 16px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.cross:hover{
  fill: white;
}
